/* barlow-regular - latin */
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/barlow-v12-latin-regular.woff2") format("woff2"), url("../fonts/barlow-v12-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-500 - latin */
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/barlow-v12-latin-500.woff2") format("woff2"), url("../fonts/barlow-v12-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-600 - latin */
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/barlow-v12-latin-600.woff2") format("woff2"), url("../fonts/barlow-v12-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-700 - latin */
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/barlow-v12-latin-700.woff2") format("woff2"), url("../fonts/barlow-v12-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fraunces-regular - latin */
@font-face {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/fraunces-v24-latin-regular.woff2") format("woff2"), url("../fonts/fraunces-v24-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fraunces-800 - latin */
@font-face {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/fraunces-v24-latin-800.woff2") format("woff2"), url("../fonts/fraunces-v24-latin-800.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::after,
*::before {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

body {
  font-family: "Barlow";
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1320px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  border: 2px solid red;
}

.header__container {
  padding-top: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 30px;
}

.header__logo {
  max-width: 235px;
}

.header_list {
  display: flex;
  align-items: center;
}

.header__item + .header__item {
  margin-left: 33px;
}

.header__link {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  color: #83888F;
}

.header__menu {
  width: 16px;
  height: 15px;
  border-color: transparent;
  background-repeat: no-repeat;
  background-image: url(../../img/burger-logo.svg);
  background-position: center;
  display: none;
}

@media only screen and (max-width: 632px) {
  .header__logo {
    max-width: 163px;
  }
  .header__menu {
    display: block;
  }
  .header_list {
    display: none;
  }
}
.create {
  background-repeat: no-repeat;
  max-width: 1280px;
  background-repeat: no-repeat;
  background-image: url("../../img/hero-bg.jpg");
  padding-top: 117px;
  padding-left: 85px;
  padding-bottom: 116px;
  border-radius: 8px;
}

.create__heading {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FEFCF7;
  max-width: 493px;
  margin-bottom: 32px;
}

.create__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  opacity: 0.8;
  margin-bottom: 56px;
  max-width: 493px;
}

.create__link {
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #FEFCF7;
  padding: 15px 30px;
  background: #0E8784;
  border-radius: 6px;
  display: inline;
}

@media only screen and (max-width: 626px) {
  .create {
    padding: 104px 58px;
    background-image: url(../../img/choose-bg-tablet.jpg);
  }
  .create__heading {
    font-weight: 900;
    font-size: 48px;
    line-height: 48px;
    color: #FEFCF7;
    max-width: 329px;
    margin-bottom: 24px;
  }
  .create__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #FEFCF7;
    opacity: 0.8;
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 460px) {
  .create {
    padding: 100px 24px;
    background-image: url(../../img/moile-choose-bg.jpg);
  }
  .create__heading {
    font-weight: 900;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    color: #FEFCF7;
    max-width: 279px;
  }
  .create__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
  }
}
.collection__container {
  background-repeat: no-repeat;
  background-image: url(../../img/collection_bg.svg);
  max-width: 1111px;
  background-position: center top;
  padding-top: 123px;
}

.collection__list {
  max-width: 1111px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.collection__item {
  max-width: 255px;
}

.item__heading {
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #333D4B;
  margin-bottom: 24px;
}

.item__text {
  max-width: 255px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #333D4B;
}

.collectionimg {
  max-width: 255px;
  margin-bottom: 71px;
}

@media only screen and (max-width: 1000px) {
  .collection__container {
    background-image: url(../../img/collection_tablet-bg.svg);
  }
  .collection__list {
    max-width: 1111px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .collection__item {
    max-width: 573px;
    display: flex;
    align-items: center;
  }
  .item__heading {
    margin-bottom: 24px;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #333D4B;
    max-width: 255px;
  }
  .item__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #333D4B;
    max-width: 282px;
  }
}
@media only screen and (max-width: 573px) {
  .collection__container {
    background-image: url(../../img/collection_tel-bg.svg);
    max-width: 500px;
  }
  .collection__item {
    flex-direction: column;
    margin-bottom: 48px;
  }
  .item__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #333D4B;
    max-width: 282px;
  }
  .collectionimg {
    max-width: 200px;
    margin-bottom: 24px;
  }
}
.choose__container {
  margin-top: 200px;
  padding-top: 200px;
  max-width: 1280px;
  background-color: #293039;
  padding-top: 100px;
  border-radius: 10px;
  padding-bottom: 86px;
  position: relative;
}

.choose__empty {
  position: absolute;
  margin-left: -21px;
  max-width: 1280px;
  width: 100%;
  height: 235px;
  background-color: #293039;
  border-radius: 10px;
}

.choose__content {
  margin: 0 auto;
}

.choose__heading {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #FEFCF7;
  margin-bottom: 32px;
}

.choose__text {
  margin: 0 auto;
  max-width: 540px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #FEFCF7;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.choose__list {
  position: relative;
  max-width: 1110px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.choose__item1 {
  width: 100%;
  max-width: 350px;
  padding-bottom: 48px;
  background-color: #0E8784;
  border-radius: 8px;
}

.choose__item1::before {
  content: "";
  display: block;
  width: 72px;
  height: 72px;
  background-repeat: no-repeat;
  background-image: url(../../img/choose-item-before.svg);
  margin-bottom: 56px;
  margin-left: 135px;
  margin-top: 72px;
}

.choose-inner__title {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #FEFCF7;
  margin-bottom: 24px;
}

.choose-inner__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #FEFCF7;
  max-width: 255px;
  margin: 0 auto;
}

@media only screen and (max-width: 1054px) {
  .choose__container {
    max-width: 900px;
  }
  .choose__list {
    flex-direction: column;
  }
  .choose__item1 {
    margin-bottom: 24px;
    max-width: 573px;
    height: 180px;
    display: flex;
    align-items: center;
  }
  .choose__item1::before {
    background-image: url(../../img/rasm2.svg);
    width: 56px;
    height: 56px;
    flex-shrink: 0;
    margin-left: 70px;
    margin-top: 62px;
    margin-right: 55px;
  }
  .choose-inner__title {
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 16px;
  }
  .choose-inner__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    max-width: 344px;
  }
  .choose__empty {
    height: 385px;
  }
}
@media only screen and (max-width: 583px) {
  .choose__container {
    max-width: 400px;
  }
  .choose__list {
    flex-direction: column;
  }
  .choose__item1 {
    max-width: 279px;
    height: 382px;
    flex-direction: column;
  }
  .choose__item1::before {
    height: 72px;
    width: 72px;
    background-image: url(../../img/rasm3.svg);
    margin-top: 72px;
    margin-bottom: 56px;
  }
  .choose-inner__title {
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
  }
  .choose-inner__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
  }
  .choose__empty {
    height: 385px;
  }
}/*# sourceMappingURL=main.css.map */