@mixin button {
    font-family: 'Fraunces';
font-weight: 900;
font-size: 18px;
line-height: 25px;
text-align: center;
color: #FEFCF7;
 padding: 15px 30px;
 background: #0E8784;
border-radius: 6px;
display: inline;
}